@import '../../styles/responsive.scss';
@import '../../styles/constants.scss';

.wrap {
    max-width: 300px;
    text-align: left;

    @include respond-to(tablet-mini) {
        max-width: 230px;
    }

    @include respond-to(mobile-small) {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: unset;
        padding: 0 30px 30px;
    }

    h1 {
        font-size: 28px;
        font-weight: 500;
        margin-top: 20px;

        @include respond-to(tablet-mini) {
            margin-top: 0;
        }

        @include respond-to(mobile-small) {
            font-size: 24px;
            margin-top: 0;
        }
    }

    p {
        margin: 30px 0 0;
        font-size: 20px;
        font-weight: 400;

        @include respond-to(tablet-mini) {
            margin: 20px 0 0;
        }

        @include respond-to(mobile-small) {
            font-size: 18px;
            margin: 14px 0 0;
        }
    }

    img {
        margin-top: -80px;

        @include respond-to(tablet-mini) {
            margin-left: -60px;
        }

        @include respond-to(mobile-small) {
            width: 200px;
            margin-top: 0;
            margin-left: 0;
        }
    }
}