/* main color: #00c2e8 */
.App {
  background-color: black;
  color: white;
  height: 100vh;
  text-align: center;
}

h1 {
  font-family: "Coiny", system-ui;
  margin: 0;
}

body {
  font-family: "Omnes", serif;
}

@font-face {
  font-family: "Omnes";
  src: local("Omnes-Regular") url("./Fonts/Omnes-Regular.ttf")
    format("truetype");
}
