/* main color: #00c2e8 */
.App {
  background-color: black;
  color: white;
  height: 100vh;
  text-align: center;
}

@font-face {
  font-family: "Omnes";
  src: local("Omnes-Regular") url("./Fonts/Omnes-Regular.ttf")
    format("truetype");
}
