@import "../src/Components/components.scss";
@import "./styles/responsive.scss";
@import './styles/constants.scss';

body {
    margin: 0;
    font-family: "Omnes", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: "Coiny", system-ui;
    margin: 0;
}